<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua Sorte Rifas</title>
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    <header>
        <nav class="navbar">
            <ul>
              <li><a href="#">Início</a></li>
              <li><a href="#">Resultados</a></li>
              <li><a href="#">Contato</a></li>
            </ul>
          </nav>
    </header>
    <main>
        <div class="container3">
            <div class="sorteio1">
                <img src="../static/200Reais.jpg" height="130">
                <div class="container4">
                    <h2>R$200,00 no PIX 🤑</h2>
                    <p>Concorra a um pix de R$200,00 Reais</p>
                    <p>Sorteio em 15/04/2023</p>
                    <div class="valorBotao">
                        <h3>R$0,50</h3>
                        <a href="/200-no-pix"><button class="button-13">Comprar</button></a>                        
                    </div>
                </div>
            </div>
            <div class="sorteio1">
                <img src="../static/1000Reais.jpg" height="150">
                <div class="container4">
                    <h2>R$1000,00 no PIX 🤑🤩</h2>
                    <p>Concorra a um pix de R$1000,00 Reais!</p>
                    <p>Sorteio em 15/04/2023</p>
                    <div class="valorBotao">
                        <h3>R$2,50</h3>
                        <a href="/1000-no-pix"><button class="button-15">Comprar</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container2">
            <img src="../static/iphone13.png" width="300">
            <div class="sorteioPrincipal">
                <h2>Iphone 13 (128 GB)</h2>
                <p>Compre agora e concorra a um Iphone 13 128GB novinho!</p>
                <p>- Envio grátis</p>
                <p>- Sorteio em 15/04/2023</p>
                <p>Não perca a chance de ter em mãos o smartphone mais desejado do momento. Adquira já sua rifa e aumente suas chances de ser o(a) grande vencedor(a)!</p>
                <div class="valorBotao">
                    <h3>R$9,99</h3>                    
                    <a href="/iphone"><button class="button-14" role="button">Comprar</button></a>
                </div>
            </div>
        </div>
    </main>

    <div class="contato">
        <h2>Contato</h2>
        <p>contato@sorteiopremiado.com.br</p>
    </div>
    <footer>
        Sorteio Premiado @ 2022
    </footer>
</body>

</html>